<div class="container">
  <div class="row">
    <!-- Dialog Div -->
    <div id="platform-dialog" class="dialog" [class.show]="isDialogOpen">
      <div class="dialog-content">
        <h2>ACCESS WITH EASE</h2>
        <p>Please open this link on a mobile device or choose an option below to view our store sites:</p>
        <div class="button-group">
          <button (click)="redirectToLink(appleStoreLink)">App Store</button>
          <button (click)="redirectToLink(googlePlayLink)">Google Play</button>
          <button (click)="redirectToLink(webLink)">Visit Website</button>
          <button (click)="handleQrCode()">QR Code <i class="fas fa-download" style="margin-right: 8px;"></i> </button>
        </div>
      </div>
    </div>
  </div>
</div>